<div class="section">
  <h2>About Me</h2>
  <p>Hey! I'm Aditi. I'm a senior studying <a href="https://www.cs.umd.edu/">computer science</a>
    and <a
      href="https://www.rhsmith.umd.edu/programs/undergraduate-programs/academics/academic-minors/business-analytics">business
      analytics</a>
    at UMD. I've been learning and <a href="http://instagr.am/aditi_dances">performing</a>
    classical Indian dance since age 8. In my rare moments of free time I enjoy
    <a href="https://www.goodreads.com/notaditi">reading</a>, <a href="https://medium.com/@notaditi">writing</a>,
    cooking and lifting.</p>
</div>

<div class="section">
  <h2>Resume</h2>
  <p class="left-column">SWE Intern - <a href="https://www.snap.com/en-US/">Snap Inc</a></p>
  <p class="right-column">Summer '20</p>
  <p class="left-column">Teaching Assistant - <a
      href="https://www.cs.umd.edu/researcharea/natural-language-processing">NLP</a></p>
  <p class="right-column">Spring '19</p>
  <p class="left-column">SWE Intern - <a href="https://www.snap.com/en-US/">Snap Inc</a></p>
  <p class="right-column">Summer '19</p>
  <p class="left-column">SWE Intern - <a href="http://www.c-mci.com/corporate/">C-MCI</a></p>
  <p class="right-column">Summer '18</p>
</div>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <a href="https://github.com/aditisundar"><span class="fa fa-github fa-lg main-list-item-icon"></span></a>
  </li>
  <li class="main-list-item">
    <a href="https://www.linkedin.com/in/aditi-sundararaman-8a2279102/"><span
        class="fa fa-user fa-lg main-list-item-icon"></span></a>
  </li>
</ul>